.header {
  padding: 10px 5px;
  font-size: 48px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #E01F45;
  background-color: #A6E01F; 
}

.body {
  background-color: #1FE0BA;
  padding: 10px 5px;
  color: #591FE0;
  height: 280px;
}

button {
  color: #591FE0;
  background-color: #EEE;
  border: none;
  padding: 4px 8px;
  border-radius: 2px;
}

input {
  padding: 4px 8px;
  border: none;
}
nav ul{
  height:200px; 
  padding: 4px;
  width:18%;
  overflow:hidden; 
  overflow-y:scroll;
  background-color: #85d6c6;
}